<section>
    <div class="title">
        <h1>AGOODSHOP JUAN LOPEZ</h1>
    </div>
    <hr>
    <div class="container">
        <div class="t1" >
            <table class="tablaProductos">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Unidad</th>
                        <th>Total</th>
                    </tr>
                </thead> 
                <tbody id="carrito">
                </tbody>
            </table>
        </div>
     
        <div class="t2">
            <h2>Total</h2>
            <table class="tablaTotales">
                <tbody id="tablaTotal">

                </tbody>
                <tfoot>
                    <tr>
                        <td>Total</td>
                        <td id="precioTotal"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div> 
</section>

