.title{
    margin-left:40px;
    font-size: 20px;
    font-weight: bold;
}
.container {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "t1 t2";
}

.producto{
    padding-right: 20vh;
    padding-left: 20vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
.cantidad{
    padding-right: 20vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
.unidad{
    padding-right: 20vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
.total{
    padding-right: 20vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.t1{
    grid-area: t1;
    padding: 20px;
}
.t2{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 2.1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:"g1 g1" "g2 g3";
    padding: 20px;
    background-color: rgb(231, 231, 231);
}
 
.g1 {
    grid-area: g1;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.g3 { 
    grid-area: g3; 
}

.g2 { 
    grid-area: g2; 
}

.tablaProductos{
    align-items: center;
    border-collapse: collapse;
}
 
th{
    border-bottom: 1px solid black;
    text-align: center;
}
 
