<div class="blog-container">
  <!-- Formulario para agregar una nueva noticia -->
  <div class="form-container">
      <h2>Publicar nueva noticia</h2>
        <div>
            <label for="titulo">Titulo: </label>
            <input type="text" name="titulo" id="titulo" placeholder="Introduce un titulo" [(ngModel)] = "newNoticias.titulo">
        </div>
        <div>
            <label for="url">URL: </label>
            <input type="url" name="url" id="url" placeholder="Introduce una url" [(ngModel)] = "newNoticias.url">
        </div>
        <div>
            <label for="texto">Texto: </label>
            <textarea  name="texto" id="texto" placeholder="Introduce una descripcion" [(ngModel)] = "newNoticias.texto">
        </div>
        <div>
            <label for="fecha">Fecha: </label>
            <imput type="datetime-local" name="fecha" id="fecha" placeholder="Introduce una fecha para la noticia" [(ngModel)] = "newNoticias.fecha">
        </div>
  </div>
</div>

<hr><br>
<div id="listadoNoticias" [innerHTML]="cargarDatos()">
</div>


